WebContent/objetoPdfService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DocumentoFirmaDigitalService" targetNamespace="http://doc.digital.hacienda.gov.py/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://doc.digital.hacienda.gov.py/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://doc.digital.hacienda.gov.py/" xmlns:tns="http://doc.digital.hacienda.gov.py/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="guardarPdfFirmado" type="tns:guardarPdfFirmado"/>
  <xs:element name="guardarPdfFirmadoResponse" type="tns:guardarPdfFirmadoResponse"/>
  <xs:element name="obtenerPdfParaFirma" type="tns:obtenerPdfParaFirma"/>
  <xs:element name="obtenerPdfParaFirmaResponse" type="tns:obtenerPdfParaFirmaResponse"/>
  <xs:element name="obtenerPdfParaValidar" type="tns:obtenerPdfParaValidar"/>
  <xs:element name="obtenerPdfParaValidarResponse" type="tns:obtenerPdfParaValidarResponse"/>
  <xs:element name="quitarReserva" type="tns:quitarReserva"/>
  <xs:element name="quitarReservaResponse" type="tns:quitarReservaResponse"/>
  <xs:complexType name="guardarPdfFirmado">
    <xs:sequence>
      <xs:element minOccurs="0" name="postFirmado" type="tns:documentoElectronico"/>
      <xs:element minOccurs="0" name="cedulaFirmante" type="xs:string"/>
      <xs:element minOccurs="0" name="fechaFirmaCliente" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documentoElectronico">
    <xs:sequence>
      <xs:element name="objetoPdf" ns1:expectedContentTypes="application/pdf" type="xs:base64Binary" xmlns:ns1="http://www.w3.org/2005/05/xmlmime"/>
      <xs:element maxOccurs="unbounded" name="parametros" type="tns:campoTipoValor"/>
      <xs:element name="tipoDocumento" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="campoTipoValor">
    <xs:sequence>
      <xs:element minOccurs="0" name="campo" type="xs:string"/>
      <xs:element minOccurs="0" name="tipo" type="tns:tipoDato"/>
      <xs:element minOccurs="0" name="valor" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarPdfFirmadoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="resultPdfFirmado" type="tns:resultOperacion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultOperacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="xs:int"/>
      <xs:element minOccurs="0" name="msg" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="quitarReserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:documentoElectronico"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="quitarReservaResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="obtenerPdfParaValidar">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaParametros" type="tns:campoTipoValor"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPdfParaValidarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="resultPdfParaValidar" type="tns:documentoElectronico"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPdfParaFirma">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="listaParametros" type="tns:campoTipoValor"/>
      <xs:element minOccurs="0" name="cedulaFirmante" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPdfParaFirmaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="resultPdfParaFirma" type="tns:documentoElectronico"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoDato">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INTEGER"/>
      <xs:enumeration value="LONG"/>
      <xs:enumeration value="STRING"/>
      <xs:enumeration value="DATE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WsException" type="tns:WsException"/>
  <xs:complexType name="WsException">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="obtenerPdfParaValidar">
    <wsdl:part element="tns:obtenerPdfParaValidar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="quitarReserva">
    <wsdl:part element="tns:quitarReserva" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="quitarReservaResponse">
    <wsdl:part element="tns:quitarReservaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerPdfParaValidarResponse">
    <wsdl:part element="tns:obtenerPdfParaValidarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerPdfParaFirmaResponse">
    <wsdl:part element="tns:obtenerPdfParaFirmaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WsException">
    <wsdl:part element="tns:WsException" name="WsException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="guardarPdfFirmado">
    <wsdl:part element="tns:guardarPdfFirmado" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerPdfParaFirma">
    <wsdl:part element="tns:obtenerPdfParaFirma" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="guardarPdfFirmadoResponse">
    <wsdl:part element="tns:guardarPdfFirmadoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DocumentoFirmaDigitalEndPoint">
    <wsdl:operation name="guardarPdfFirmado">
      <wsdl:input message="tns:guardarPdfFirmado" name="guardarPdfFirmado">
    </wsdl:input>
      <wsdl:output message="tns:guardarPdfFirmadoResponse" name="guardarPdfFirmadoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsException" name="WsException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="quitarReserva">
      <wsdl:input message="tns:quitarReserva" name="quitarReserva">
    </wsdl:input>
      <wsdl:output message="tns:quitarReservaResponse" name="quitarReservaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPdfParaValidar">
      <wsdl:input message="tns:obtenerPdfParaValidar" name="obtenerPdfParaValidar">
    </wsdl:input>
      <wsdl:output message="tns:obtenerPdfParaValidarResponse" name="obtenerPdfParaValidarResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsException" name="WsException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerPdfParaFirma">
      <wsdl:input message="tns:obtenerPdfParaFirma" name="obtenerPdfParaFirma">
    </wsdl:input>
      <wsdl:output message="tns:obtenerPdfParaFirmaResponse" name="obtenerPdfParaFirmaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsException" name="WsException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentoFirmaDigitalServiceSoapBinding" type="tns:DocumentoFirmaDigitalEndPoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="guardarPdfFirmado">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="guardarPdfFirmado">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="guardarPdfFirmadoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsException">
        <soap:fault name="WsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="quitarReserva">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="quitarReserva">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="quitarReservaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPdfParaValidar">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerPdfParaValidar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerPdfParaValidarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsException">
        <soap:fault name="WsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerPdfParaFirma">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerPdfParaFirma">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerPdfParaFirmaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsException">
        <soap:fault name="WsException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentoFirmaDigitalService">
    <wsdl:port binding="tns:DocumentoFirmaDigitalServiceSoapBinding" name="DocumentoFirmaDigitalEndPointPort">
      <soap:address location="http://10.20.0.3:6060/doc/objetoPdfService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>